<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galis.demo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.galis.demo.AppStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.galis.demo.tag.TagActivity" />
        <activity android:name="com.galis.demo.draw.CalTimeActivity" />
        <activity android:name="com.galis.demo.Matrix.MatrixActivity" />
        <activity android:name="com.galis.demo.Scroll.ScrollActivity" />
        <activity android:name="com.galis.demo.Scroll.PullScrollActivity" />
        <activity android:name="com.galis.demo.draw.CanvasDraw" />
    </application>

</manifest>
